	
			.cpbs-booking-form-id-13.ui-datepicker td a.ui-state-hover,
			html .cpbs-booking-form-id-13 .woocommerce-notice.woocommerce-notice--success,
			html .cpbs-booking-form-id-13 .woocommerce-notice.woocommerce-notice--error,
            .cpbs-booking-form-id-13 .cpbs-qtip,
            .cpbs-booking-form-id-13 .cpbs-notice,
			.cpbs-booking-form-id-13 .cpbs-quantity>a:hover,
			.cpbs-booking-form-id-13 .slick-prev:hover,
			.cpbs-booking-form-id-13 .slick-next:hover,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1:hover,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1.cpbs-state-selected,
			.cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li.cpbs-state-completed>div,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-2:hover,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-2.cpbs-state-selected,
			.cpbs-booking-form-id-13 .cpbs-rental-date-box>div:first-child,
			.cpbs-booking-form-id-13 .cpbs-rental-date-box>div:first-child::after,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-3:hover
            {
				background-color:#004280;
            }
            
			.cpbs-booking-form-id-13.ui-datepicker td a.ui-state-hover,
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-prev.ui-state-hover,
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-next.ui-state-hover,
			html .cpbs-booking-form-id-13 .woocommerce-notice.woocommerce-notice--success,
			html .cpbs-booking-form-id-13 .woocommerce-notice.woocommerce-notice--error,
            .cpbs-booking-form-id-13 .cpbs-qtip,
            .cpbs-booking-form-id-13 .cpbs-notice,
			.cpbs-booking-form-id-13 .cpbs-rental-date-box>div:first-child,
			.cpbs-booking-form-id-13 .cpbs-quantity>a:hover,
			.cpbs-booking-form-id-13 .slick-prev:hover,
			.cpbs-booking-form-id-13 .slick-next:hover,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1:hover,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1.cpbs-state-selected,
            .cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-2:hover,
            .cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-2.cpbs-state-selected,
			.cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li.cpbs-state-selected>a>span:first-child,
			.cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li.cpbs-state-completed>a>span:first-child,
            .cpbs-booking-form-id-13 .cpbs-form-checkbox,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-3
            {
                border-color:#004280;
            }
			
			.cpbs-booking-form-id-13.ui-datepicker td a.ui-state-hover,
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-prev.ui-state-hover,
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-next.ui-state-hover,  
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-prev.ui-state-hover>span,
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-next.ui-state-hover>span,
			.cpbs-booking-form-id-13 a,
			.cpbs-booking-form-id-13 .cpbs-header,
			.cpbs-booking-form-id-13 .cpbs-quantity>a,
			.cpbs-booking-form-id-13 .slick-prev,
			.cpbs-booking-form-id-13 .slick-next,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1.cpbs-state-disabled:hover,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-2,
			.cpbs-booking-form-id-13 .cpbs-rental-date-box>div:first-child+div,
			.cpbs-booking-form-id-13 .cpbs-location-info-frame label,
			.cpbs-booking-form-id-13 .cpbs-attribute-field .cpbs-attribute-field-name,
            .cpbs-booking-form-id-13 .cpbs-form-checkbox.cpbs-state-selected>.cpbs-meta-icon-tick,	
			.cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li>a>span,
            .cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li.cpbs-state-selected>a>span:first-child+span,
			.cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li.cpbs-state-selected>a>span:first-child>span:first-child,
            .cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li.cpbs-state-completed>a>span:first-child+span,
			.cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li.cpbs-state-completed>a>span:first-child>span:first-child,
			.cpbs-booking-form-id-13 .cpbs-place .cpbs-place-attribute-1>div:before,
			.cpbs-booking-form-id-13 .cpbs-place .cpbs-place-attribute-2>div:before,
            .cpbs-booking-form-id-13 .ui-menu .ui-menu-item:focus,  
			.cpbs-booking-form-id-13 .ui-menu .ui-menu-item:hover,
            .cpbs-booking-form-id-13 .ui-timepicker-wrapper>.ui-timepicker-list>li:hover,
            .cpbs-booking-form-id-13 .ui-timepicker-wrapper>.ui-timepicker-list>li.ui-timepicker-selected,
            .cpbs-booking-form-id-13 .ui-selectmenu-button .cpbs-meta-icon-arrow-vertical
            {
                color:#004280;
            }
  
            .cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-2:hover,
            .cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-2.cpbs-state-selected,
			.cpbs-booking-form-id-13 .cpbs-quantity>a:hover,
			.cpbs-booking-form-id-13 .slick-prev:hover,
			.cpbs-booking-form-id-13 .slick-next:hover,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1:hover,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1.cpbs-state-selected
			{
				color:#F9BE57;
			}
			
			.cpbs-booking-form-id-13 .cpbs-quantity>a,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1.cpbs-state-disabled:hover,
			.cpbs-booking-form-id-13 .slick-prev,
			.cpbs-booking-form-id-13 .slick-next,
            .cpbs-booking-form-id-13 .cpbs-booking-complete .cpbs-meta-icon-tick>div:first-child+div
			{
				background-color:#F9BE57;
			}
            
			.cpbs-booking-form-id-13 .cpbs-quantity>a,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-1.cpbs-state-disabled:hover,
			.cpbs-booking-form-id-13 .slick-prev,
			.cpbs-booking-form-id-13 .slick-next,
			.cpbs-booking-form-id-13 .cpbs-form-panel .cpbs-form-panel-content,
			.cpbs-booking-form-id-13 .cpbs-rental-date-box>div:first-child+div
            {
                border-color:#F9BE57;
            }
			.cpbs-booking-form-id-13.ui-datepicker td a.ui-state-hover,
			html .cpbs-booking-form-id-13 .woocommerce-notice.woocommerce-notice--success,
			html .cpbs-booking-form-id-13 .woocommerce-notice.woocommerce-notice--error,
            .cpbs-booking-form-id-13 .cpbs-qtip,
            .cpbs-booking-form-id-13 .cpbs-notice,		
			.cpbs-booking-form-id-13 .cpbs-rental-date-box>div:first-child,
            .cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li.cpbs-state-selected>a>span:first-child,
            .cpbs-booking-form-id-13 .cpbs-button-checkbox>a.cpbs-state-selected,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-3:hover
			{
				color:#FFFFFF;
			}
            
			.cpbs-booking-form-id-13.ui-datepicker,
			.cpbs-booking-form-id-13 .cpbs-main-content .cpbs-main-content-step-1 .cpbs-form-panel>div:first-child>div,
            .cpbs-booking-form-id-13 .ui-menu,
            .cpbs-booking-form-id-13 .ui-timepicker-wrapper,
            .cpbs-booking-form-id-13 .ui-timepicker-wrapper>.ui-timepicker-list>li:hover,
            .cpbs-booking-form-id-13 .ui-timepicker-wrapper>.ui-timepicker-list>li.ui-timepicker-selected,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-3,
            .cpbs-booking-form-id-13 .cpbs-form-checkbox,
            .cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li>a>span:first-child
            {
                background-color:#FFFFFF;
            }
  
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-prev,
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-next,
            .cpbs-booking-form-id-13 label,
			.cpbs-booking-form-id-13 label a,
            .cpbs-booking-form-id-13 .cpbs-button-checkbox>a
			{
				color:#778591;
			}
  
            .cpbs-booking-form-id-13.ui-datepicker,
            .cpbs-booking-form-id-13.ui-datepicker thead,
			.cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-prev,
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-next,
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-prev.ui-state-disabled,
            .cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-next.ui-state-disabled,	
			.cpbs-booking-form-id-13 .cpbs-main-content .cpbs-main-content-step-2>.cpbs-layout-25x75 .cpbs-layout-column-left .cpbs-summary-box,
			.cpbs-booking-form-id-13 .cpbs-main-content .cpbs-main-content-step-3>.cpbs-layout-25x75 .cpbs-layout-column-left .cpbs-summary-box,
			.cpbs-booking-form-id-13 .cpbs-main-content .cpbs-main-content-step-4>.cpbs-layout-50x50>.cpbs-layout-column-left,
			.cpbs-booking-form-id-13 .cpbs-main-content .cpbs-main-content-step-4>.cpbs-layout-50x50>.cpbs-layout-column-right,
			.cpbs-booking-form-id-13.cpbs-google-map-enable-0 .cpbs-main-content .cpbs-main-content-step-1 .cpbs-form-panel,
			.cpbs-booking-form-id-13.cpbs-booking-form-widget-mode .cpbs-main-content .cpbs-main-content-step-1 .cpbs-form-panel,
            .cpbs-booking-form-id-13 .ui-selectmenu-menu,
            .cpbs-booking-form-id-13 .ui-menu .ui-menu-item,
            .cpbs-booking-form-id-13 .ui-timepicker-wrapper,
            .cpbs-booking-form-id-13 .ui-timepicker-wrapper>.ui-timepicker-list>li,
            .cpbs-booking-form-id-13 #cpbs-location-info-frame .cpbs-location-info-frame-meta-1,
            .cpbs-booking-form-id-13 .cpbs-button-checkbox>a,
            .cpbs-booking-form-id-13 .cpbs-main-content .cpbs-main-content-step-1>.cpbs-layout-50x50>.cpbs-layout-column-left,
            .cpbs-booking-form-id-13 .cpbs-form-field
 			{
				border-color:#EAECEE;
			}
                 
            .cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li>div
			{
				background-color:#EAECEE;
			}
  
			
			.cpbs-booking-form-id-13 .cpbs-main .cpbs-quantity>input,
            .cpbs-booking-form-id-13 .ui-selectmenu-button .ui-selectmenu-text,          
            .cpbs-booking-form-id-13 #cpbs-location-info-frame .cpbs-location-info-frame-meta-2,
            .cpbs-booking-form-id-13 .cpbs-agreement-header,
            .cpbs-booking-form-id-13 .cpbs-form-field>input,
            .cpbs-booking-form-id-13 .cpbs-summary .cpbs-summary-header>h4,
            .cpbs-booking-form-id-13 .cpbs-booking-complete h3
			{
				color:#2C3E50;
			}
            
            .cpbs-booking-form-id-13 .cpbs-summary-price-element>div.cpbs-summary-price-element-total>span:first-child+span
            {
                border-color:#2C3E50;
            }
  
			
			
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-2,
            .cpbs-booking-form-id-13 .cpbs-summary-price-element>div.cpbs-summary-price-element-total
			{
				border-color:#F0F2F8;
			} 
			
			.cpbs-booking-form-id-13 .cpbs-place,
			.cpbs-booking-form-id-13 .cpbs-booking-extra-list>ul>li,
			.cpbs-booking-form-id-13 #cpbs-payment>ul>li,
			.cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-2
			{
				background-color:#F0F2F8;
			}
  

  
			.cpbs-booking-form-id-13.ui-datepicker th,
			.cpbs-booking-form-id-13.ui-datepicker td,
			.cpbs-booking-form-id-13.ui-datepicker td a,
			.cpbs-booking-form-id-13.ui-datepicker .ui-datepicker-title,
			.cpbs-booking-form-id-13.cpbs-main,
            .cpbs-booking-form-id-13 .ui-menu .ui-menu-item,
            .cpbs-booking-form-id-13 .ui-timepicker-wrapper>.ui-timepicker-list>li,
            .cpbs-booking-form-id-13 .cpbs-booking-complete p,
            .cpbs-booking-form-id-13 .cpbs-button.cpbs-button-style-3,
			.cpbs-booking-form-id-13 .cpbs-place .cpbs-place-location-name
			{
				color:#556677;
			}
            
            .cpbs-booking-form-id-13 .cpbs-button-checkbox>a.cpbs-state-selected
			{
				background-color:#556677;
			}
            
            .cpbs-booking-form-id-13 .cpbs-button-checkbox>a.cpbs-state-selected
			{
				border-color:#556677;
			}  
  
			.cpbs-booking-form-id-13.ui-datepicker td.ui-datepicker-unselectable,
            .cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li>a>span:first-child+span,
			.cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li>a>span:first-child>span:first-child
			{
				color:#C0C8D1;
			}
			
			.cpbs-booking-form-id-13 .cpbs-main-navigation-default>ul>li>a>span:first-child
			{
				border-color:#C0C8D1;
			}
